body  {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: [header-start] 1fr [instructions-start] auto [gameboard-start] auto [scores-start] 1fr;
  grid-template-areas: 
        ".  header  header  header  ."
        ".  instructions  instructions  instructions  ."
        ".  gameboard gameboard gameboard ."
        ".  scores  scores  scores  .";
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  color: lawngreen;
  background-color: black;
      }

h2  {
  grid-area: header;
  justify-self: center;
  text-align: center;
}

div {
/*   border: 2px silver dotted;
 */}

img {
  width: 90%;
}

.instructions {
  grid-area: instructions;
  text-align: center;
  justify-self: center;
  align-self: start;
  font-size: 0.80em;
}

.gameboard {
  grid-area: gameboard;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
        "rock paper scissors";
}

#rock {
  grid-area: rock;
}

#paper {
  grid-area: paper;
}

#scissors {
  grid-area: scissors;
}

.scores {
  grid-area: scores;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

#comment {
  grid-column: span 5;
  justify-self: center;
  text-align: center;
}

#playerScore {
justify-self: start;
grid-column-start: 1;
}

#pcScore {
  justify-self: end;
  grid-column-start: 5;
}

.roundResult {
  display: none;
  grid-area: gameboard;
  z-index: 10;
  align-self: center;
  justify-self: center;
  text-align: center;
  background-color: black;
  border: 3px lawngreen solid;
  padding: 20px;
}